extends layout
block extra_header
    link(rel="stylesheet", href="./adminview.css")

block content
    table(class='gridtable')
        tr
            th Id   
            th UserName 
            th Account type 
            th email    
            th Age  
            th Ans1 
            th Ans2 
            th Ans3 
            th 
        each item in people
            tr
                td #{item.id}
                td #{item.UserName} 
                td #{item.AcountType}  
                td #{item.Email}    
                td #{item.Age}  
                td #{item.Ans1} 
                td #{item.Ans2} 
                td #{item.Ans3} 
                td 
                    a(href='/delete/' + item.id) Delete