extends layout
block content
    div(id="userPanel")
        if username
            p You are logged in as #{username}!
            a(href="/accountedit") Edit Account
            a(href="/logout") Logout
        else
            p You are not logged in!
            a(href="/login") Login
            a(href="/accountcreate") Register
    div
        div(id="canvasDiv")
            a Question 1
            canvas(id="myCanvas1")
        div(id="canvasDiv")
            a Question 2
            canvas(id="myCanvas2")
        div(id="canvasDiv")
            a Question 3
            canvas(id="myCanvas3")
    div(class="hidden")
        span(id="total") #{total}
        span(id="q1a") #{q1a}
        span(id="q1b") #{q1b}
        span(id="q1c") #{q1c}
        span(id="q1d") #{q1d}
        span(id="q2a") #{q2a}
        span(id="q2b") #{q2b}
        span(id="q2c") #{q2c}
        span(id="q2d") #{q2d}
        span(id="q3a") #{q3a}
        span(id="q3b") #{q3b}
        span(id="q3c") #{q3c}
        span(id="q3d") #{q3d}
    script(src="chartScript.js")
    if admin
        a(href="./adminview" id="gotoAdmin") Admin View